tests/testapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hostedsms.dcs.pl/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://hostedsms.dcs.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hostedsms.dcs.pl/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ValidityPeriod" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FlashSms" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CostCenter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvertMessageToGSM7" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSmsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="MessageId" nillable="true" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phones" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ValidityPeriod" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FlashSms" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CostCenter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvertMessageToGSM7" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSmsesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSmsesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageIds" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUnreadDeliveryReports">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadDeliveryReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUnreadDeliveryReportsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DeliveryReports" type="tns:ArrayOfDeliveryReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeliveryReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeliveryReport" type="tns:DeliveryReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliveryReport">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReportId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDeliveryReports">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageIds" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="MarkAsRead" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeliveryReportsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DeliveryReports" type="tns:ArrayOfDeliveryReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInputSmses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="From" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="To" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MarkAsRead" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInputSmsesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInputSmsesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="InputSms" type="tns:ArrayOfInputSms" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInputSms">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InputSms" type="tns:InputSms" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InputSms">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MessageId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUnreadInputSmses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadInputSmsesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUnreadInputSmsesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="InputSms" type="tns:ArrayOfInputSms" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidSenders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidSendersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetValidSendersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Senders" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPhones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phones" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPhonesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckPhonesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ValidPhones" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="InvalidPhones" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Duplicates" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="BlockedPhones" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertToGsm7">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertToGsm7Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertToGsm7Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Gsm7Text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsesSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmses" />
  </wsdl:message>
  <wsdl:message name="SendSmsesSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnreadDeliveryReportsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnreadDeliveryReports" />
  </wsdl:message>
  <wsdl:message name="GetUnreadDeliveryReportsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnreadDeliveryReportsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryReportsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryReports" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryReportsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryReportsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInputSmsesSoapIn">
    <wsdl:part name="parameters" element="tns:GetInputSmses" />
  </wsdl:message>
  <wsdl:message name="GetInputSmsesSoapOut">
    <wsdl:part name="parameters" element="tns:GetInputSmsesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnreadInputSmsesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnreadInputSmses" />
  </wsdl:message>
  <wsdl:message name="GetUnreadInputSmsesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnreadInputSmsesResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidSendersSoapIn">
    <wsdl:part name="parameters" element="tns:GetValidSenders" />
  </wsdl:message>
  <wsdl:message name="GetValidSendersSoapOut">
    <wsdl:part name="parameters" element="tns:GetValidSendersResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPhonesSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPhones" />
  </wsdl:message>
  <wsdl:message name="CheckPhonesSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertToGsm7SoapIn">
    <wsdl:part name="parameters" element="tns:ConvertToGsm7" />
  </wsdl:message>
  <wsdl:message name="ConvertToGsm7SoapOut">
    <wsdl:part name="parameters" element="tns:ConvertToGsm7Response" />
  </wsdl:message>
  <wsdl:portType name="SmsSenderSoap">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmses">
      <wsdl:input message="tns:SendSmsesSoapIn" />
      <wsdl:output message="tns:SendSmsesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadDeliveryReports">
      <wsdl:input message="tns:GetUnreadDeliveryReportsSoapIn" />
      <wsdl:output message="tns:GetUnreadDeliveryReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryReports">
      <wsdl:input message="tns:GetDeliveryReportsSoapIn" />
      <wsdl:output message="tns:GetDeliveryReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInputSmses">
      <wsdl:input message="tns:GetInputSmsesSoapIn" />
      <wsdl:output message="tns:GetInputSmsesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadInputSmses">
      <wsdl:input message="tns:GetUnreadInputSmsesSoapIn" />
      <wsdl:output message="tns:GetUnreadInputSmsesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValidSenders">
      <wsdl:input message="tns:GetValidSendersSoapIn" />
      <wsdl:output message="tns:GetValidSendersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPhones">
      <wsdl:input message="tns:CheckPhonesSoapIn" />
      <wsdl:output message="tns:CheckPhonesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToGsm7">
      <wsdl:input message="tns:ConvertToGsm7SoapIn" />
      <wsdl:output message="tns:ConvertToGsm7SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsSenderSoap" type="tns:SmsSenderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://hostedsms.dcs.pl/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmses">
      <soap:operation soapAction="http://hostedsms.dcs.pl/SendSmses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadDeliveryReports">
      <soap:operation soapAction="http://hostedsms.dcs.pl/GetUnreadDeliveryReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryReports">
      <soap:operation soapAction="http://hostedsms.dcs.pl/GetDeliveryReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputSmses">
      <soap:operation soapAction="http://hostedsms.dcs.pl/GetInputSmses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadInputSmses">
      <soap:operation soapAction="http://hostedsms.dcs.pl/GetUnreadInputSmses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidSenders">
      <soap:operation soapAction="http://hostedsms.dcs.pl/GetValidSenders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPhones">
      <soap:operation soapAction="http://hostedsms.dcs.pl/CheckPhones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToGsm7">
      <soap:operation soapAction="http://hostedsms.dcs.pl/ConvertToGsm7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsSenderSoap12" type="tns:SmsSenderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmses">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/SendSmses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadDeliveryReports">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/GetUnreadDeliveryReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryReports">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/GetDeliveryReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputSmses">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/GetInputSmses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadInputSmses">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/GetUnreadInputSmses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidSenders">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/GetValidSenders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPhones">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/CheckPhones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToGsm7">
      <soap12:operation soapAction="http://hostedsms.dcs.pl/ConvertToGsm7" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsSender">
    <wsdl:port name="SmsSenderSoap" binding="tns:SmsSenderSoap">
      <soap:address location="https://testapi.hostedsms.pl/WS/smssender.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsSenderSoap12" binding="tns:SmsSenderSoap12">
      <soap12:address location="https://testapi.hostedsms.pl/WS/smssender.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>